@media (min-width: 992px) {
    header .navbar {
        padding: 0;
        background: rgba(255, 255, 255, 1);
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(235, 167, 33, 1) 51%, rgba(235, 167, 33, 1) 70%, rgba(235, 167, 33, 1) 100%) !important;
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(50%, rgba(255, 255, 255, 1)), color-stop(51%, rgba(235, 167, 33, 1)), color-stop(70%, rgba(235, 167, 33, 1)), color-stop(100%, rgba(235, 167, 33, 1))) !important;
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(235, 167, 33, 1) 51%, rgba(235, 167, 33, 1) 70%, rgba(235, 167, 33, 1) 100%) !important;
        background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(235, 167, 33, 1) 51%, rgba(235, 167, 33, 1) 70%, rgba(235, 167, 33, 1) 100%) !important;
        background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(235, 167, 33, 1) 51%, rgba(235, 167, 33, 1) 70%, rgba(235, 167, 33, 1) 100%) !important;
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(235, 167, 33, 1) 51%, rgba(235, 167, 33, 1) 70%, rgba(235, 167, 33, 1) 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eba721', GradientType=1);
    }

}
.s_header .navbar-toggler i {
    font-weight: 900;
    font-size: 30px;
    color: #000 !important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
/*Header*/
header {
    overflow: hidden;
    background: #fff;
    background-image:none!important;

}
header:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 22;
    background: transparent!important;
}

@media(max-width: 991px){

    header{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 999999;
        background: #fff;
        /*-webkit-box-shadow: 0 1px 16px 0 rgba(0,0,0,0.15);*/
        /*-moz-box-shadow:  0 1px 16px 0 rgba(0,0,0,0.15);*/
        /*box-shadow:  0 1px 16px 0 rgba(0,0,0,0.15);*/
    }
}
.faq-headline {
    width: 100%;
    text-align: center;
    margin-bottom: 61px;
}

.faq-headline-top {
    margin-top: 0;
    margin-bottom: 20px;
    color: #494949;
    font-family: "SF Pro Display Bold";
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 43px;
}

.faq-headline-bottom {
    color: #787878;
    font-family: "SF Pro Display";
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 21px;
}

.faq-headline-subtitle {
    color: #787878;
    font-family: "SF Pro Display";
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 61px;
}

.faq-section {
    color: #fff;
    position: relative;
    padding: 70px 0;
}
.faq-section, .faq-section .container {
    height: 100%;
}
.faq-section h2 {
    text-align: center;
}
.faq-section p.notice{
    font-size: 12px;
    color: #404040;
    margin: 20px 10px 0 10px;
}
.faq-section-col-left{
    width: 100%;
    float: left;
    min-height: 300px;
    position: relative;
    margin-right: 15px;
}
.faq-section-col-right{
    width: 100%;
    float: left;
    min-height: 300px;
    position: relative;
}
.for_questions{
    position: relative;
    overflow: hidden;
    background-color: #EDEDED;
    background-image: url(../images/background-sphere.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 40%;
}
.for_questions_box{
    padding-bottom: 50px;
}
.faq-accordion {
    color: #2B2B2B;
    background-color: #EDEDED;
}
.faq-section .faq-accordion button {
    background-color: #35363A;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 78px 10px 30px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    min-height: 85px;
    transition: 0.4s;
}
.faq-accordion-item{
    margin-bottom: 1px;
}
.faq-accordion-item div {
    padding: 0 20px;
}
.faq-section .faq-accordion-item p {
    border: none;
    padding: 20px 25px;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 24px;
}

.faq-section  .active, .accordion:hover {
    background-color: #ccc;
}

.faq-section  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.faq-section  .active:after {
    content: "\2212";
}

.faq-section  .panel {
    color: #484848;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.faq_quastion_image{
    position: absolute;
    top: -81px;
    right: -40px;
    height: 655.98px;
    width: 652px;
    z-index: 100;
}
.for_questions-headline{
    color: #2B2B2B;
    font-family: "SF Pro Display Bold";
    font-size: 36px;	
    letter-spacing: 1.8px;	
    line-height: 43px;
    padding-top: 80px;
    margin-bottom: 60px;
}
.for_questions-content, .for_questions_email{
    color: #2B2B2B;
    font-family: "SF Pro Display";
    font-size: 24px;	
    letter-spacing: 1.2px;
    line-height: 29px;
}
.for_questions-content, .for_questions_email a {
    color: inherit;
}

[data-accordion] > [data-control]:after {
    height: 20px;
    width: 20px;
    background-size: inherit;
    top: 33px;
    right: 30px;
}
[data-accordion].open > [data-control]:after {
    background: url(../images/minus.png) center center no-repeat;
}


.cookies{
    color: rgb(255, 255, 255);
    background-color: rgba(53, 54, 58, 0.86);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999999;
    font-size: .8em;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

.cookies .text{
    display: block;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 100%;
    margin-right: 1em;
    color:#fff;
}
.cc-link{
    opacity: .8;
    display: inline-block;
    padding: .2em;
    color:#fff;
    outline: 0;
    box-shadow: none;
}
.cc-link:hover{
    opacity: .6;
    color:#fff;
}
.cc-compliance {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}
/*.cc-btn:first-child {*/
/*background-color: transparent;*/
/*border-color: transparent;*/
/*color:#fff;*/
/*}*/
.cc-btn {
    color: #fff;
    background-color: rgb(234, 167, 33);
    border-color: transparent;
    cursor: pointer;
    outline: 0;
    box-shadow: none;
}
.cc-btn:hover {
    color: #fff;
    background-color: rgba(234, 167, 33, 0.73);
}
.cc-btn+.cc-btn {
    margin-left: .5em;
}
.cc-btn {
    display: block;
    padding: .4em .8em;
    font-size: .8em;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    white-space: nowrap;
}